@import "constants";

.#{$block-class} {
	padding: 2px;

	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

		@for $i from 1 through 10 {
			&.shadow-opacity-#{$i}0 {
				box-shadow: 0 0 20px rgba(0, 0, 0, calc($i / 10));
			}
		}
	}

	&.is-styles-squared {
		border-radius: 0;
	}

	&.is-style-rounded {
		border-radius: 20px;
	}

	&.#{$block-name}-align-left {
		text-align: left;
	}

	&.#{$block-name}-align-right {
		text-align: right;
	}

	&.#{$block-name}-align-center {
		text-align: center;
	}
}
