@import "constants";

.#{$block-class} {
	background-color: rgb(1, 1, 1);
	color: #fff;
	padding: 2px;

	&.#{$block-name}-align-left {
		text-align: left;
	}

	&.#{$block-name}-align-right {
		text-align: right;
	}

	&.#{$block-name}-align-center {
		text-align: center;
	}
}
