@import "constants";

.#{$block-class} {
	padding: 2px;

	&.#{$block-name}-align-left {
		text-align: left;
	}

	&.#{$block-name}-align-right {
		text-align: right;
	}

	&.#{$block-name}-align-center {
		text-align: center;
	}
}
